.navbar {
  z-index: 3;
  position: fixed;
  top: 0;
  right: 0;
  left: 0; }
  .navbar ul {
    margin: 0;
    padding: 0;
    display: flex;
    list-style: none;
    justify-content: space-between;
    background-color: rgba(255, 255, 255, 0.95); }
  .navbar .nav-buttons {
    display: flex;
    list-style: none;
    justify-content: start;
    flex-direction: row; }
  .navbar a {
    text-decoration: none;
    font: 1.2rem sans-serif;
    padding: 1rem;
    color: black;
    display: inline-block; }
    .navbar a:hover {
      color: white;
      background-color: rgba(245, 201, 165, 0.911); }
  .navbar img {
    padding-right: 2rem;
    max-height: 50px; }

.content {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; }

.about-us-element {
  display: flex;
  justify-content: flex-start;
  width: 100%;
  width: fit-content; }
  .about-us-element h1 {
    border-bottom: 5px solid #f5c9a5; }
  .about-us-element img {
    box-shadow: 30px 30px #f5c9a5;
    width: 600px;
    margin-right: 5.5rem; }
  .about-us-element div {
    padding: 2rem;
    color: black;
    border-radius: 50px;
    width: 100%;
    max-width: 500px; }
    .about-us-element div p {
      font-size: medium; }

@media (max-width: 1200px) {
  .about-us-element {
    justify-content: space-around;
    margin-right: 2rem; }
    .about-us-element img {
      margin-right: 3rem;
      margin-left: 3rem; } }

@media (max-width: 1012px) {
  .about-us-element {
    padding-top: 3rem;
    display: flex;
    flex-direction: column; }
    .about-us-element img {
      width: 100%;
      height: auto;
      margin-left: 0;
      margin-top: 3rem; }
    .about-us-element div {
      margin-top: 1rem;
      margin-left: 2rem;
      max-width: 800px; }
      .about-us-element div h1 {
        font-size: x-large; }
      .about-us-element div p {
        font-size: large; } }

.layout-1 {
  background-image: url("https://images.unsplash.com/photo-1497800839469-bdbe4fd9d391?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1050&q=80");
  background-attachment: fixed;
  background-size: 100%;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; }
  .layout-1 div {
    border-radius: 15px;
    padding: 2rem;
    background-color: rgba(0, 0, 0, 0.349); }
  .layout-1 h1 {
    padding-left: 3rem;
    max-width: 1300px;
    font-size: 4rem;
    margin: 0;
    color: white; }

@media (max-width: 1100px) {
  .layout-1 {
    width: 100%;
    max-height: 400px;
    height: 90vh; }
    .layout-1 h1 {
      font-size: 3rem; } }

@media (max-width: 1000px) {
  .layout-1 {
    max-width: 1000px;
    width: 100%;
    max-height: 400px;
    height: 80vh; }
    .layout-1 h1 {
      font-size: 3rem; } }

@media (max-width: 600px) {
  .layout-1 {
    max-width: 600px;
    width: 100%;
    max-height: 300px; }
    .layout-1 h1 {
      font-size: 2rem; } }

@media (max-width: 400px) {
  .layout-1 {
    max-width: 600px;
    width: 100%;
    max-height: 200px; }
    .layout-1 h1 {
      padding-left: 1rem;
      font-size: 1rem; } }

.layout-2 {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly; }
  .layout-2 .image-element {
    margin: 0; }
    .layout-2 .image-element img {
      justify-self: fit-content;
      max-width: 500px;
      padding: 1.5rem;
      border-radius: 40px;
      /*&:hover {
        }*/ }

@media (max-width: 1024px) {
  .layout-2 {
    flex-direction: column;
    justify-content: center;
    align-items: center; }
    .layout-2 img {
      width: 100%;
      padding-bottom: 2rem; } }

@media (max-width: 500px) {
  .layout-2 .image-element {
    width: 100%;
    height: auto; } }

.layout-3 {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 3rem;
  width: 100%; }
  .layout-3 .text-element {
    justify-content: center;
    color: white;
    padding: 3rem;
    margin: 1rem;
    font-size: x-large;
    background-color: #f5c9a5;
    border-radius: 50px; }
  .layout-3 .email-box {
    padding: 1rem;
    background-color: rgba(255, 255, 255, 0.7);
    border-style: none;
    border-radius: 12px; }
  .layout-3 img {
    max-width: 900px;
    padding-left: 3rem;
    padding-right: 3rem; }

@media (max-width: 670px) {
  .layout-3 .text-element {
    font-size: medium; } }

@media (max-width: 390px) {
  .layout-3 .text-element {
    font-size: small; } }

.content {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; }

.layout-5 {
  display: flex;
  width: 100%;
  width: fit-content; }
  .layout-5 img {
    box-shadow: 30px 30px #f5c9a5;
    width: 600px;
    margin-right: 5.5rem; }
  .layout-5 div {
    padding: 2rem;
    margin-right: 3rem;
    color: black;
    width: 100%;
    max-width: 500px;
    border-left: 7px solid #f5c9a5; }
    .layout-5 div p {
      font-size: medium; }

@media (max-width: 1200px) {
  .layout-5 {
    margin-left: 2rem;
    align-items: center;
    justify-content: space-around; }
    .layout-5 img {
      margin-right: 3rem; } }

@media (max-width: 1100px) {
  .layout-5 {
    margin-bottom: 2rem;
    display: flex;
    flex-direction: column; }
    .layout-5 img {
      width: 100%;
      height: auto;
      margin-left: 0; }
    .layout-5 div {
      padding: 3rem;
      margin-left: 0.8rem;
      max-width: 800px; }
      .layout-5 div h1 {
        font-size: x-large; }
      .layout-5 div p {
        font-size: large; } }

* {
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif; }

body {
  margin: 0;
  background-color: #fcfaf3; }
