.content {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.about-us-element {
    display: flex;
    justify-content: flex-start;
    width: 100%;
    width: fit-content;
    h1 {
        border-bottom: 5px solid rgb(245, 201, 165);
    }
    img {
        box-shadow: 30px 30px rgb(245, 201, 165);
        width: 600px;
        //display: block;
        margin-right: 5.5rem;
    }
    div {
        padding: 2rem;
        color: black;
        border-radius: 50px;
        width: 100%;
        max-width: 500px;
        p {
            font-size: medium;
        }
    }
}
@media (max-width: 1200px) {
    .about-us-element {
        justify-content: space-around;
        margin-right: 2rem;
        img {
            margin-right: 3rem;
            margin-left: 3rem;
        }
    }
}
@media (max-width: 1012px) {
    .about-us-element {
        padding-top: 3rem;
        display: flex;
        flex-direction: column;

        img {
            width: 100%;
            height: auto;
            margin-left: 0;
            margin-top: 3rem;
        }
        div {
            margin-top: 1rem;
            margin-left: 2rem;
            max-width: 800px;
            h1 {
                font-size: x-large;
            }
            p {
                font-size: large;
            }
        }
    }
}
