.content {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.layout-5 {
    display: flex;
    width: 100%;
    width: fit-content;
    img {
        box-shadow: 30px 30px rgb(245, 201, 165);
        width: 600px;
        //display: block;
        margin-right: 5.5rem;
    }
    div {
        padding: 2rem;
        margin-right: 3rem;
        color: black;
        width: 100%;
        max-width: 500px;
        p {
            font-size: medium;
        }
        border-left: 7px solid rgb(245, 201, 165);
    }
}
@media (max-width: 1200px) {
    .layout-5 {
        margin-left: 2rem;
        align-items: center;
        justify-content: space-around;
        img {
            margin-right: 3rem;
        }
    }
}
@media (max-width: 1100px) {
    .layout-5 {
        //padding-top: 2rem;
        margin-bottom: 2rem;
        display: flex;
        flex-direction: column;

        img {
            width: 100%;
            height: auto;
            margin-left: 0;
        }
        div {
            padding: 3rem;
            margin-left: 0.8rem;
            max-width: 800px;
            h1 {
                font-size: x-large;
            }
            p {
                font-size: large;
            }
        }
    }
}
