.layout-2 {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    .image-element {
        margin: 0;
        img {
            max-width: 500px;
            height: 390px;
            padding: 1.5rem;
            border-radius: 40px;
            /*&:hover {
        }*/
        }
    }
}

@media (max-width: 1024px) {
    .layout-2 {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        img {
            width: 100%;
            padding-bottom: 2rem;
        }
    }
}
@media (max-width: 500px) {
    .layout-2 {
        .image-element {
            width: 100%;
            height: auto;
        }
    }
}
